{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Create Event</h1>
    <form method="POST">
        <!-- Add the CSRF token field -->
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.date.label }}
            <div class="input-group date">
                {{ form.date(class="form-control", autocomplete="off", id="datepicker") }}
                <div class="input-group-append">
                    <span class="input-group-text" id="calendarIcon"><i class="fas fa-calendar"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form.notify_on_event_day.label }} {{ form.notify_on_event_day() }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const dateInput = document.getElementById("datepicker");
        const calendarIcon = document.getElementById("calendarIcon");

        calendarIcon.addEventListener("click", function() {
            dateInput.focus();
        });

        dateInput.addEventListener("focus", function() {
            dateInput.type = "date";
        });

        dateInput.addEventListener("blur", function() {
            if (!dateInput.value) {
                dateInput.type = "text";
            }
        });
    });
</script>
{% endblock %}
