{% extends 'base.html' %}

{% block content %}
    <h1>User Profile</h1>
    <h2>{{ current_user.username }}</h2>
    <p>Email: {{ current_user.email }}</p>
    <form action="{{ url_for('change_notification_day') }}" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <p>Current day of notification: <p>{{ current_user.get_notification_day() }}<br><br><br>



            {{ form.notification_day(class="form-control",label=current_user.get_notification_day()) }}
        </div>
        <button type="submit" class="btn btn-primary">Change Notification Day</button>
    </form>
    <a href="{{ url_for('change_password') }}" class="btn btn-primary">Change Password</a>
    <a href="{{ url_for('change_email') }}" class="btn btn-primary">Change Email</a>
    <!-- Rest of the code -->
{% endblock %}
